# 2nd Class

In [1]:
7//2

3

In [2]:
17//2

8

In [3]:
17//3

5

In [4]:
4+2

6

In [5]:
4.2+5

9.2

In [6]:
 ["Asad"]+["ALI"]

['Asad', 'ALI']

In [7]:
"as"+"ad"

'asad'

In [8]:
("ASAD")+("ALI")

'ASADALI'

In [9]:
["ASAD"]*3

['ASAD', 'ASAD', 'ASAD']

In [10]:
("Asad")*3

'AsadAsadAsad'

In [11]:
"ASAD"*3

'ASADASADASAD'

In [12]:
a=[1,2,3,4,5,6,7,8,9,10]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# COMPARISON OPERATORS

In [13]:
2==2

True

In [14]:
ord("A")

65

In [15]:
chr(65)

'A'

In [16]:
3<=3

True

In [17]:
"A">"B"

False

In [18]:
"C">"B"

True


# ASSIGNMENT OPERATORS

In [19]:
a=1
a*=5
a*=10
print(a)

50

In [20]:
a=1
a+=5
a+=10
print(a)

16

In [21]:
a=1
a-=5
a-=10
print(a)

-14

In [22]:
a=50
a/=5
a/=10
print(a)

1.0

In [23]:
a=2
a**=5
a+=2
print(a)

34

In [24]:
a="A"
b="B"
a+=b
print(a)

AB

# LOGICAL OPERATORS

#LOGIN CODE

In [25]:
user = input("Enter USERNAME: ")
password = input("Enter PASSWORD: ")

user == "ASAD" and password == "2723"

Enter USERNAME: ASAD
Enter PASSWORD: 2723

True

In [26]:
user = input("Enter USERNAME: ")
password = input("Enter PASSWORD: ")

(user == "ASAD") & (password == "2723")

Enter USERNAME: asad
Enter PASSWORD: 23723

False

In [27]:
user = input("Enter USERNAME: ")
password = input("Enter PASSWORD: ")

(user == "ASAD" or user == "ALI" or user == "KHAN") and (password == "2723")

Enter USERNAME: aas
Enter PASSWORD: as

False

# BITWISE OPERATORS

In [28]:
8,

(8,)

8,    7,    6,    5,    4,    3,    2,    1,    0
2,    2,    2,    2,    2,    2,    2,    2,    2
=================================================
256,  128,  64,   32,   16,   8,    4,    2     1

In [30]:
a = 1
a += 0 
a += 4 
a += 0 
a += 16 
a += 0 
a += 64

print(a)

85

In [31]:
#AND

8 and 9

#OR
#XOR

'B'

In [ ]:
a=[]
for i in range(10):
    b=input()
    a.append(b)
    
print(a)
"Pakistan" in a

In [1]:
a=[]
for i in range(10):
    b=input()
    a.append(b)
    
print(a)
"Pakistan" in a

asad
ali
new
what
damn
Pakistan
hwy
hey
hi
pk
['asad', 'ali', 'new', 'what ', 'damn', 'Pakistan', 'hwy', 'hey', 'hi', 'pk']

True

In [2]:
a =  input()
a= a.split()
    
print(a)
"Pakistan" in a

asad ali khan Pakistan
['asad', 'ali', 'khan', 'Pakistan']

True

In [3]:
a=8
b=4
a is b

False

In [4]:
id(a)
id(b)

140720463782384

# CONTROL FLOW

In [14]:
user = input("Enter USERNAME: ")
password = input("Enter PASSWORD: ")

if (user in["ASAD","ALI","KHAN"]) and (password == "2723"):
    print("Valid USER")
else:
    print("invalid")

Enter USERNAME: ASAD
Enter PASSWORD: 2723
Valid USER